.toggle {
  overflow: hidden;
}

.toggle label {
  border-radius: 0.3rem;
  border: 1px solid $white !important;
  cursor: pointer;
  float:left;
  margin: 1rem;
  overflow:auto;
}

.toggle label span {
  display:block;
  font-size: 20px;
  font-weight: normal;
  padding: 1.5rem 2.2rem;
  text-align:center;
  background-color: #eee;
}

.toggle label input {
  position: absolute;
  visibility: hidden;
}

.toggle input:checked + span {
  background-color: #ffebeb;
  color: white;
}
